.input {
    width: 25vw;
    height: 4vh;
    border-radius: 0.7rem;
    font-size: 2rem;
    letter-spacing: 2rem;
    padding-left: 2.5rem;
    text-decoration: underline;
}

.submit {
    position: relative;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.7rem;
    margin-left: 1rem;
}

.submit:hover {
    background-color: lightgray;
}

.word-input {
    position: absolute;
    bottom: 2vh;
    left: 50%;
    transform: translate(-50%);
}